.scrollable {
  overflow-y: auto;
  padding-right: 8px;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #2F2F37;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #8585AD;
  border-radius: 4px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.statusDone {
  color: #00CCCC;
}
